body {
  font: 100% Helvetica, sans-serif;
  margin: 0;
}

.navbar {
  background-color: #f7fafc;
  overflow: hidden;
}
.navbar a {
  color: #4a5568;
  float: left;
  display: block;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none !important;
}
.navbar a img {
  height: 30px;
  width: 145px;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
  padding: 10px 20px;
}
.navbar .right {
  float: right;
  width: auto !important;
  display: block;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .navbar a {
    float: none !important;
    width: 100%;
  }
  .navbar .right {
    float: none !important;
    width: 100%;
  }
}
.header {
  background-image: url(images/header.jpg);
  height: 400px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.text-header {
  text-align: center;
  padding: 20px;
}
.text-header hr {
  margin: auto;
  width: 300px;
  border-color: #718096;
  margin-bottom: 10px;
}
.text-header p {
  color: #4a5568;
  font-size: 20px;
  margin-bottom: 50px;
}

.judul-header {
  color: #3c366b;
  text-shadow: 1px 1px #f7fafc;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 10px;
}

.judul-product {
  color: #f7fafc;
  text-shadow: 1px 1px black;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-bottom: 0 !important;
}

.button-basic, .button-secondary, .button-primary {
  border: none !important;
  padding: 15px 15px !important;
  text-align: center !important;
  font-size: 20px !important;
  cursor: pointer !important;
  color: white !important;
  font-family: "Poiret one", cursive !important;
  text-decoration: none !important;
  border-radius: 8px !important;
  margin-top: 30px !important;
}

.button-primary {
  background-color: #e74c3c;
}

.button-secondary {
  background-color: #718096;
}

.grid-container {
  box-sizing: border-box;
}

.item-sepertiga {
  width: 33%;
  float: left;
}
@media screen and (max-width: 768px) {
  .item-sepertiga {
    float: none;
    width: 100%;
  }
}

.item-duapertiga {
  width: 66%;
  float: left;
}
@media screen and (max-width: 768px) {
  .item-duapertiga {
    float: none;
    width: 100%;
  }
}

.about {
  background-image: linear-gradient(to bottom right, #ddd, #f7fafc);
  min-height: 400px;
}
@media screen and (max-width: 768px) {
  .about {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}
.about img {
  border-radius: 100%;
  padding: 20px;
  width: 300px;
  height: 300px;
}
.about h1 {
  color: #3c366b;
  text-shadow: 1px 1px #f7fafc;
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 10px;
}
.about h2 {
  color: #e74c3c;
  font-size: 32px;
  margin-bottom: 15px;
}
.about p {
  color: #4a5568;
  font-size: 20px;
}

.product {
  background-color: #3c366b;
  padding-bottom: 20px !important;
  margin-top: 0;
}

.image-style, .product-body .product-item img {
  border-radius: 25px;
  padding: 10px;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

.product-body {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  margin-top: 12px;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 20px !important;
}
@media screen and (max-width: 800px) {
  .product-body {
    flex-direction: column;
  }
}
.product-body .product-item {
  background-color: #f7fafc;
  color: #718096;
  box-shadow: 0 4px 8px 0 #718096;
  margin: 16px;
  margin-top: 5px !important;
  border-radius: 10px;
  width: 340px;
}
.product-body .product-item img {
  width: 90%;
}
.product-body .product-item h2 {
  text-align: center !important;
}
.product-body .product-item .product-content {
  padding: 20px;
  padding-top: 5px !important;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .product-body .product-item .product-content {
    padding: 5px !important;
  }
}
.product-body .product-item .product-footer {
  padding: 20px;
  padding-bottom: 25px;
  margin-top: 10px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .product-body .product-item .product-footer {
    padding: 5px !important;
    padding-bottom: 25px !important;
  }
}
@media screen and (max-width: 800px) {
  .product-body .product-item {
    width: 100%;
  }
}

.contact {
  background-color: #f7fafc;
  color: #4a5568;
  height: 100px;
}

.footer {
  background-color: #4a5568;
  color: #f7fafc;
  height: 75px;
}

/*# sourceMappingURL=css-output.css.map */
