$light-color: #f7fafc;
$indigo-color: #3c366b;
$gray-color: #4a5568;
$red-color: #e74c3c;
$light-gray: #ddd;
$black-color: black;
$gray: #718096;
$font-stack: Helvetica, sans-serif;

body {
    font: 100% $font-stack;
    margin: 0;
}

// Navbar Style
.navbar {
    background-color: $light-color;
    height: 50px;
    a{
        color: $gray-color;
        float:left;
        display: block;
        text-align: center;
        padding: 10px 20px;
        text-decoration: none !important;
        img{
            height: 30px;
            width: 145px;
        }
    }
    a:hover{
        background-color: $light-gray;
        color: $black-color;
        padding: 10px 20px;
    }
    .right{
        float: right;
        width: auto !important;
        display: block;
        padding: 5px;
    }
}

// Header Style
.header {
    background-image: url(images/header.jpg);
    height: 400px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-top: 1px solid  $indigo-color;
    border-bottom: 1px solid $indigo-color;
}
.text-header {
    text-align: center;
    padding: 30px;
    h1{
        color: $indigo-color;
        text-shadow: 1px 1px $light-color;
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    hr{
        margin: auto;
        width: 300px;
        border-color: $gray;
        margin-bottom: 10px;
    }
    p{
        color: $gray-color;
        font-size: 20px;
        margin-bottom: 50px;
    }
}

.button-basic {
    border: none !important;
    padding: 15px 30px !important;
    text-align: center !important;
    font-size: 20px !important;
    cursor: pointer !important;
    color: white !important;
    font-family: 'Poiret one', cursive !important;
    text-decoration: none !important;
    border-radius: 8px !important;
    margin-top: 30px !important;
}
.button-primary{
    @extend.button-basic;
    background-color: $red-color;
   
}
.button-secondary{
    @extend.button-basic;
    background-color: $gray;
}

// About Style
.about {
    background-color: $light-color;
    color: $indigo-color;
    height: 100px;
}

// Product Style
.product {
    background-color: $red-color;
    color: $light-color;
    height: 100px;
}

// Contact Style
.contact {
    background-color: $light-color;
    color: $gray-color;
    height: 100px;
}

// Footer Style
.footer {
    background-color: $gray-color;
    color: $light-color;
    height: 75px;
}